html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.scroll::-webkit-scrollbar {
    width: 10px;
}
.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .btn {
        @apply p-2 rounded w-full text-white text-sm font-semibold bg-sky-500 hover:bg-blue-500 transition ease-in-out duration-300
    }
}