html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
    font-family: Bungee Spice;
    src: url(../public/fonts/BungeeSpice-Regular.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(../public/fonts/OpenSans-Medium.ttf);
}
@font-face {
    font-family: Blaka Ink;
    src: url(../public/fonts/BlakaInk-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .btn {
        @apply p-2 rounded w-full text-white text-sm font-semibold bg-sky-500 hover:bg-blue-500 transition ease-in-out duration-300
    }
}